* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(139, 4, 4);
    padding: 15px 20px;
    color: white;
}
ul{
    display:flex;
    list-style-type: none;
    gap: 20px;
}
ul a{
    color: white;
    text-decoration: none;
}
.menu-toggle{
    display:none;
    font-size:26px;
    cursor:pointer;
}
.body{
    display: flex;
    background-color: pink;
}
.text{
    margin-left: 80px;
    margin-top: 80px;
}
.text h1{
    padding-bottom: 20px;
    font-size: 50px;
}
.text h2{
    padding-bottom: 20px;
}
button{
    padding:5px;
}
button a{
    color:black;
    text-decoration: none;
}
a:hover{
    color:pink;
}
.pic{
    padding: 50px;
    padding-right: 100px;
    
    
}
img{
    height: 300px;
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
}
.catchy{
    border: 1px dashed black;
    padding: 10px;
    margin: 10px;
    margin-left: 350px;
    margin-top: 10px;
    width: 50%;
}
.bottom{
    text-align: center;
    margin-top: 30px;
    width: 100%;
    background-color: white;
}
@media  (max-width: 768px){
    ul{
        display:none;
        flex-direction:column;
        width:100%;
        background: #222;
        position:absolute;
        top:60px;
        left:0;
    }
    ul li{
        text-align:center;
        padding: 15px 0;
    }
    .menu-toggle{
        display:block;
    }
    .body{
        width:100%;
        flex-direction:column;
    }
    .text{
        margin:auto;
        margin-top:40px;
        text-align: center;
    }
    .text h1{
        font-size: 30px;
    }
    .catchy{
        margin-left:25%;
    }
}